/**
 * COLORS
 */
black = #000000
charcoal = #353535
grey = #9c9c9c
blue = #0095e7
red = #fd3255
yellow = #f6a623
white = #ffffff
light-blue = #4990e2
dark-grey = #555555
light-gray = #d8d8d8
lighter-gray = lighten(light-gray, 45%)
light-red = #f05b57
light-yellow = #ffcd5f

/**
 * BREAKPOINTS
 */
desktop = 1368px
tablet-landscape = 1024px
tablet = 768px
mobile-landscape = 580px
mobile = 500px
mobile-small = 350px

/**
 * MOTION
 */
bounce = cubic-bezier(0.68, -0.55, 0.265, 1.55)
bounce-out = cubic-bezier(.33, 0, .26, 1.25)

// Bukwild mixins
@import '~bukwild-stylus-library';
@import './mixins.styl'
