/**
 * COLORS
 */
purple = #DDD6F3
pink = #FAACA8

/**
 * BREAKPOINTS
 */
desktop = 1368px
desktop-small = 1200px
tablet-landscape = 1024px
tablet = 768px
mobile-landscape = 580px
mobile = 500px
mobile-small = 350px

/**
 * MOTION
 */
bounce = cubic-bezier(0.68, -0.55, 0.265, 1.55)
bounce-out = cubic-bezier(.31,1.93,.57,.91)

// Bukwild mixins
@import '~bukwild-stylus-library';
@import './mixins.styl'
@import './transitions.styl'
