@import '~normalize.css/normalize.css'
@import '~bukwild-stylus-library'
@import './stylus/mixins.styl'

@import './stylus/typography.styl'


// Set font-sizes so rem values for responsive effects.  Combined with the
// font() call on `body`, this scales from 20px down to 14px
:root
  mq-values(font-size, 100%, 80%, 1200px)


body
  background-color #FAACA8
  background-image linear-gradient(19deg, #FAACA8 0%, #DDD6F3 100%)
  background-attachment fixed

*, *:before, *:after
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
