@import '~normalize.css/normalize.css'
@import '~bukwild-stylus-library'
@import './mixins.styl'


// Set font-sizes so rem values for responsive effects.  Combined with the
// font() call on `body`, this scales from 20px down to 14px
:root
	mq-values(font-size, 100%, 80%, 1200px)
