@import '~normalize.css/normalize.css'
@import '~bukwild-stylus-library'
@import './stylus/mixins.styl'

@import './stylus/typography.styl'


// Set font-sizes so rem values for responsive effects.  Combined with the
// font() call on `body`, this scales from 20px down to 14px
:root
  mq-values(font-size, 100%, 80%, 1200px)

body

  &:after
    content ' '
    z-index 0
    fill(transparent)
    background-color #FAACA8
    background-image linear-gradient(19deg, pink 0%, purple 90%)
    position fixed

  *
    color white

*, *:before, *:after
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

#main
  overflow hidden
  position relative
  z-index 1

.heading
  font-family 'Monoton', cursive
  text-transform uppercase
  font-weight normal

.block
  max-width 1200px
  margin-left auto
  margin-right @margin-left
  padding 8rem 20px

  @media(max-width tablet)
    padding-top 4rem
    padding-bottom @padding-top

p
  font-size 30px
  line-height 1.5

  @media(max-width desktop-small)
    font-size 27px

  @media(max-width tablet)
    font-size 24px
    line-height 1.2

a.hoverable
  color white
  display inline-block
  text-decoration none
  position relative
  transition all 0.2s ease
  cursor pointer !important
  gpu-cache()

  &:after
    content ' '
    position absolute
    display block
    bottom 5px
    left 0
    right 0
    border-top 2px solid white
    transition all 0.2s ease
    pointer-events none

  &:not(.hoverable-light)
    @media(max-width tablet)
      &:after
        border-top-width 1px
        bottom 2px

  &:hover,
  &:active
    transform rotate(-3deg) scale(1.05)

    &:after
      opacity 0

  &:active
    transform rotate(-3deg) scale(1)

  &.hoverable-light
    font-weight 600


    &:after
      border-width 1px
      bottom 0.35rem
